{% load static %}
<html>
    <head>
        <meta charset="pl-PL">
        <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css" />
        <title>ALIT Covid19</title>
    </head>
    <body>
        <div id="header">Statystyki COVID-19<a href="/"></div>
        <div id="nav">
             <img src="{% static 'covid-19.png' %}" alt=""></a>
             <div id="settings">
                 <label>Zakres dat:</label>
                 <input type="date" id="top" name="top" class="date" value="{% block date_top %}{% endblock %}">
                 <input type="date" id="end" name="end" class="date" value="{% block date_end %}{% endblock %}">
                 <select name="continent" id="continent">\
                     <option value="0">Wszystkie kontynenty</option>
                     {% for item in continent %}
                     <option value="{{ item.id }}" {{ item.selected }}>{{ item.continent }}</option>
                     {% endfor %}
                 </select>
                 <select name="country" id="country">\
                     <option value="0">Wszystkie kraje</option>
                     {% for item in country %}
                     <option value="{{ item.id }}" {{ item.selected }}>{{ item.country }}</option>
                     {% endfor %}
                 </select>
                 <input type="hidden" id="token" value="{{ csrf_token }}">
             </div>
             <a href="/dailyCases" class="button"><span>Codzienne przypadki</span></a>
             <a href="/dailyRecovered" class="button"><span>Codzienne uzdrowieni</span></a>
             <a href="/dailyDeaths" class="button"><span>Codzienne zgony</span></a>
             <a href="/activeCases" class="button"><span>Aktywne przypadki</span></a>
             <a href="/activeCasesPer100k" class="button">Aktywne przypadki per 100k<span></span></a>
             <a href="/dailyCasesSmooth" class="button"><span>Codzienne przypadki Smooth</span></a>
             <a href="/dailyRecoveredSmooth" class="button">Codzienne uzdrowieni Smooth<span></span></a>
             <a href="/dailyDeathsSmooth" class="button"><span>Codzienne zgony Smooth</span></a>
             <a href="/mortality" class="button"><span>Śmiertelność</span></a>
             <a href="/caseFatality" class="button"><span>Przypadki Fatality</span></a>
             <a href="/incidenceRate" class="button"><span>Częstość występowania</span></a>
             <a href="/loadData" class="button button_api"><span>Aktualizacja danych</span></a>
        </div>
        <div id="content">
             {% block content %}
             {% endblock %}
        </div>
        <div id="footer">(C)2021 ALIT - Powered by Python & Django Framework</div>
        <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'base.js' %}"></script>
        <script>const editionUrl = "{% url 'siteSettings' %}"</script>
    </body>
</html>
