{% extends 'base.html' %}
{% block date_top %}{{ date_top }}{% endblock %}
{% block date_end %}{{ date_end }}{% endblock %}
{% block content %}
            <p>Daily Recovered Smooth</p>
            <table id="covid">
            <tr>
                <th>Date / Country</th>
	            <th>Daily Recovered Smooth</th>
            </tr>
            {% for item in covid %}
            <tr>
                <td>{{ item.date }} / {{ item.country }}</td>
	            <td class="td_num">{{ item.dailyRecoveredSmooth }}</td>
            </tr>
            {% endfor %}
            </table>
{% endblock %}