{% extends 'base.html' %}
{% block date_top %}{{ date_top }}{% endblock %}
{% block date_end %}{{ date_end }}{% endblock %}
{% block content %}
            <h1>Dzienne przypadki Smooth</h1>
            <div class="col-md-12">{{plot|safe}}</div>
            <table id="covid">
            <tr>
                <th>Date</th>
	            <th>Daily Cases Smooth</th>
            </tr>
            {% for item in covid %}
            <tr>
                <td>{{ item.date }}</td>
	            <td class="td_num">{{ item.dailyCasesSmooth }}</td>
            </tr>
            {% endfor %}
            </table>
{% endblock %}
